services:
  app:
    build: .
    container_name: laravel_app
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - database
    command: >
      sh -c "
      composer install &&
      php artisan key:generate --force &&
      php artisan migrate &&
      php artisan serve --host=0.0.0.0 --port=8000
      "

  database:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
